.sdo-followCard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
  justify-content: space-between;
}

.sdo-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.sdo-followCard-info {
  display: flex;
  flex-direction: column;
}

.sdo-followCard-infoUserName {
  opacity: 0.6;
}

.sdo-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.sdo-followCard-button {
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #000;
  transition: 0.3s ease background-color;
}

.sdo-followCard-button:hover {
  opacity: 0.8;
}

.sdo-followCard-text {
  display: block;
}

.sdo-followCard-button.is-following {
  border: 1px solid #bbb;
  background: transparent;
  color: #fff;
  width: 140px;
}

.sdo-followCard-button.is-following:hover {
  background: rgb(255, 0, 0, 0.178);
  color: red;
  border: red;
  transition: 0.3s ease all;
}

.sdo-followCard-button.is-following:hover .sdo-followCard-text{
  display: none;
}

.sdo-followCard-button.is-following:hover .sdo-followCard-stopFollow {
  display: block;
}

.sdo-followCard-stopFollow {
  display: none;
}
